.banner-portada{
    background-image: url(../img/portada4.jpg);
    background-position-x: center;
    background-size: cover;
    height:60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.titulo-servicios-banner{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 4em;
  width: 40%;
  top:20%;
  left:10%;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  letter-spacing: .15em;
  position: absolute;
  text-shadow: 
        0.5px -0.5px 0 #767676, 
        -0.5px 1px 0.5px #737272, 
        -1px 2px 0.5px #767474, 
        -1.5px 3px 0.5px #787777, 
        -2px 4px 0.5px #7b7a7a, 
        -2.5px 5px 0.5px #7f7d7d, 
        -3px 6px 0.5px #828181, 
        -3.5px 7px 0.5px #868585, 
        -4px 8px 0.5px #8b8a89, 
        -4.5px 9px 0.5px #8f8e8d, 
        -5px 10px 0.5px #949392, 
        -5.5px 11px 0.5px #999897, 
        -6px 12px 0.5px #9e9c9c, 
        -6.5px 13px 0.5px #a3a1a1, 
        -7px 14px 0.5px #a8a6a6, 
        -7.5px 15px 0.5px #adabab, 
        -8px 16px 0.5px #b2b1b0, 
        -8.5px 17px 0.5px #b7b6b5, 
        -9px 18px 0.5px #bcbbba, 
        -9.5px 19px 0.5px #c1bfbf, 
        -10px 20px 0.5px #c6c4c4, 
        -10.5px 21px 0.5px #cbc9c8, 
        -11px 22px 0.5px #cfcdcd, 
        -11.5px 23px 0.5px #d4d2d1, 
        -12px 24px 0.5px #d8d6d5, 
        -12.5px 25px 0.5px #dbdad9, 
        -13px 26px 0.5px #dfdddc, 
        -13.5px 27px 0.5px #e2e0df, 
        -14px 28px 0.5px #e4e3e2;
        opacity: 0.5;
}

.barra-separadora1{
    background: linear-gradient(to bottom, transparent, var(--azul-oscuro));
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    height: 10vh;
}

.barra-separadora2{
    background: linear-gradient(to top, transparent, var(--azul-oscuro));
    background-position: top;
    background-size: 100%;
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
}

.texto1 {

    width: 80%;
    margin:0 10%;
    padding: 50px 0 20px 0 ;

}
.texto1 p{
    padding: 5px 0 0 0;
}


h2, h3, h4{
    color: var(--azul-oscuro);
}
.texto1 ul{
   
    margin-left: 14px;

}
.texto1 h3{
    padding: 15px 0 0 0 ;
}

.texto1 h4{
    padding: 3px 0 0 0;
}
.texto1 li{
    padding: 3px 0 0 0 ;
}

.contenedor-servicios{
    width: 80%;
}

.iconos-interior{
    width: 30%;
    height: 45vh;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.logo-serv-int{
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}
.logo-serv-int1 svg{
   display: none;

}

.logo-serv-int svg{
    height:80%;
    width: 80%;
    fill: var(--azul-oscuro) ;
}


.iconos-interior p{
    display: inline-block;
    height: 35%;
    text-align: center;
}

.texto2 {
    width: 80%;
    margin:0 10%;
    padding: 0 0 50px 0;  
}

.texto11{
    padding: 0px 0 0 20px;
}

.texto11 h3{
padding: 0px 0 0 0;
}

.texto11 ul{
 padding: 5px 0 0 15px;
}

.texto-corto{
    height: 45vh;
}

@media screen and (max-width: 800px){
    .texto20{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .banner-portada{
        height: 30vh;
    }

    .titulo-servicios{
        position: absolute;
        top: 30%;
    }

    .titulo-servicios-2{
        position: absolute;
        top: 30%;
    }

    .texto2{
        padding: 0;
    }

    .contenedor-servicios{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .iconos-interior{
        width: 80%;
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid var(--azul-oscuro);
        padding: 0 10px;
    }

    .logo-serv-int{
        height: 60%;
    }


    .iconos-interior:last-child{
        border: none;
    }

    .iconos-interior p{
        text-align: center;
        height: 40%;
        font-size: .9em;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        }

    .hiper{
        font-size: 2.3em;
    }

    .hiper-2{
        font-size: 2.3em;
    }

    .texto11{
        margin-bottom: 20px;
    }


}

@media screen and (max-width:580px){
    .hiper,.titulo-servicios{
        font-size: 2em;
    }

    .hiper-2,.titulo-servicios-2{
        font-size: 2em;
    }

}

@media screen and (max-width:480px){
    .hiper,.titulo-servicios{
        font-size: 1.5em;
    }

    .hiper-2,.titulo-servicios-2{
        font-size: 1.5em;
    }
}